/*Estilos generales*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

:root {
  /*Color palette*/
  --black: #0d1326;
  --deepBlue: #101630;
  --white: #fdfdfd;
  --whitegray: #adb2c5;
  --gray: #868b97;
  --skyBlue: #528dd9;
  --sky: #53b5dd;
  --blueViolet: #403bbf;
  --lightBlueViolet: #4b5cbf;

  /*Font sizes*/
  --titulo1: 36px;
  --titulo2: 28px;
  --titulo3: 20px;
  --titulo4: 16px;
  --normal: 16px;
  --small: 14px;
  --smaller: 12px;
}

/*########################################################*/

/*ESTILOS REUTILIZABLES*/
/*Boton*/
.button {
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  color: var(--white);
  font-size: var(--small);
  font-weight: 600;
  letter-spacing: 1px;
}

/*Degradado*/
.gradient--blueviolet {
  background: linear-gradient(
    to right,
    var(--sky),
    var(--skyBlue),
    var(--lightBlueViolet),
    var(--blueViolet)
  );
}

.gradient--blueviolet-left-transparent {
  background: linear-gradient(
    to left,
    rgba(83, 182, 221, 0.8),
    rgba(82, 141, 217, 0.8),
    rgba(75, 92, 191, 0.8),
    rgba(63, 59, 191, 0.8)
  );
}

.gradient--blueviolet-bottom {
  background: linear-gradient(
    to bottom,
    var(--sky),
    var(--skyBlue),
    var(--lightBlueViolet),
    var(--blueViolet)
  );
}

/*Borde de las imagenes*/
.image-border {
  border: 5px solid var(--sky);
  border-radius: 5px;
  position: relative;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.418);
}

/*########################################################*/

/*Estilos para el header*/

body {
  background-color: var(--deepBlue);
}

.header {
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  position: relative;
}

.header__logo-link {
  color: var(--sky);
  font-size: var(--titulo2);
  font-weight: 700;
  font-family: "Chonburi", cursive;
}

.header__nav {
  background-image: linear-gradient(rgba(83, 182, 221, 0.9), rgb(75, 92, 191));
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__list {
  padding: 3.2rem;
}

.header__link {
  color: var(--white);
  font-size: var(--titulo3);
  font-weight: 500;
  letter-spacing: 1px;
}

.botonMenu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
  position: fixed;
  right: 1.6rem;
}

/*Styles home*/

.home {
  width: 100vw;
  height: 600px;
  display: grid;
  grid-template-rows: 1fr auto auto auto 1fr;
  grid-template-areas:
    "."
    "titulo1"
    "titulo2"
    "boton"
    ".";
}

.home-title {
  color: var(--gray);
  font-size: var(--titulo3);
  font-weight: 700;
  margin-left: 2rem;
  grid-area: titulo1;
  margin-bottom: 1.6rem;
  padding-right: 1.6rem;
}

.home-title2 {
  color: var(--white);
  font-family: "Chonburi", cursive;
  margin-left: 2rem;
  font-size: var(--titulo1);
  grid-area: titulo2;
  margin-bottom: 1.6rem;
}

.home__button {
  display: inline-block;
  margin-left: 2rem;
  grid-area: boton;
  margin-bottom: 1.6rem;
  width: 14rem;
  height: 5rem;
}

/*Styles aboutme*/

.aboutme {
  width: 100vw;
  height: auto;
  margin-bottom: 10rem;
}

.aboutme__photo-container {
  width: 70%;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.6rem;
}

.aboutme__photo {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  position: absolute;
  top: -20px;
  left: -20px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.418);
}

.aboutme__title,
.aboutme__title1,
.aboutme__text,
.aboutme__button {
  margin: 0 2rem;
}

.aboutme__title {
  color: var(--white);
  font-size: var(--titulo4);
  font-weight: normal;
}

.aboutme__title1 {
  color: var(--sky);
  font-size: var(--titulo3);
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.aboutme__text {
  color: var(--whitegray);
  margin-bottom: 1.6rem;
  font-size: var(--normal);
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.aboutme__button {
  width: auto;
  height: 5rem;
  padding: 0 1.6rem;
}

/*Styles porfolio*/

.portfolio {
  width: 100vw;
  height: auto;
  margin-bottom: 10rem;
}

.portfolio__title {
  color: var(--white);
  font-size: var(--titulo2);
  text-align: center;
  margin-bottom: 4rem;
}

.portolio__proyect {
  margin-bottom: 3.2rem;
}

.proyect__title {
  color: var(--sky);
  margin-bottom: 1.6rem;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  font-weight: normal;
  font-size: var(--titulo3);
}

.proyect__subtitle {
  color: var(--white);
  margin-bottom: 1.6rem;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  font-size: var(--titulo3);
  font-weight: 600;
}

.proyect__description {
  color: var(--whitegray);
  margin-bottom: 1.6rem;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.proyect__link {
  display: inline-block;
  margin-bottom: 1.6rem;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  color: var(--white);
}

.proyect__image-container {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.proyect__image {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -20px;
  left: 20px;
  border-radius: 5px;
}

/*Styles my skills*/

.skills {
  width: 100vw;
  height: auto;
  margin-bottom: 10vh;
}

.skills__title {
  color: var(--white);
  text-align: center;
  margin-bottom: 4rem;
  font-size: var(--titulo2);
  letter-spacing: 1px;
}

.skills__container {
  margin-right: 10vw;
  margin-left: 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.6rem;
}

.skill__image-container {
  width: 100px;
  background-color: rgba(255, 255, 255, 0.144);
  border-radius: 5px;
}

.skill__image {
  display: block;
  width: 100%;
  padding-bottom: 1.6rem;
}

.skill__title {
  color: var(--white);
  text-align: center;
  padding-bottom: 1.6rem;
  font-size: var(--titulo4);
  font-weight: 600;
}

/*Styles contact*/

.contact {
  width: 100vw;
  height: auto;
}

.contact__background {
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  padding-bottom: 4rem;
  padding: 0 10vw;
}

.contact__title {
  color: var(--white);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3.2rem;
  font-size: var(--titulo2);
  font-weight: 700;
  letter-spacing: 1px;
}

.contact__subtitle {
  color: var(--white);
  padding-bottom: 1.6rem;
  font-size: var(--titulo3);
  font-weight: 500;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 3.2rem;
}

.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding-bottom: 1.6rem;
}

.contact__icon-container {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(13, 19, 38, 0.555);
}

.contact__icon {
  width: 50%;
}

.contact__info {
  color: var(--white);
  font-size: var(--normal);
  font-weight: normal;
}

/*Styles footer*/

.footer {
  width: 100vw;
  height: auto;
}

.footer__background {
  width: 100vw;
  height: auto;
  position: relative;
}

.footer__line {
  width: 80vw;
  border-top: 1px solid var(--whitegray);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3.2rem;
  position: absolute;
  top: -14px;
  left: 39px;
}

.footer__container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
}

.footer__info {
  color: var(--white);
  font-size: var(--smaller);
  font-size: 300;
}

.footer__socialMedia {
}

.footer__socialMedia-link {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.footer__socialMedia-image {
  width: 100%;
}

/* media queries */

@media (min-width: 768px) {
  .botonMenu {
    display: none;
  }
}

/*###########################################################*/
/*Clase inactive para ocultar elementos*/
.inactive {
  display: none;
}
/*###########################################################*/
